TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY=
GEMINI_API_KEY_PREMIUM=
MINIMAX_API_TOKEN=
MINIMAX_VOICE_ID=
TRIBUTE_CHANNEL_ID=
TRIBUTE_PAYMENT_LINK_1_MONTH=
TRIBUTE_PAYMENT_LINK_3_MONTHS=
TRIBUTE_PAYMENT_LINK_6_MONTHS=
TRIBUTE_PAYMENT_LINK_12_MONTHS=
TRIBUTE_PAYMENT_LINK_TRIAL=
ADMIN_IDS=
SUBSCRIPTION_CHECK_INTERVAL=300000